.vs
/More Random Edition/bin/Debug
/More Random Edition/bin/Debug/Assets/Minigames
/More Random Edition/obj
/More Random Edition/obj/Debug
/More Random Edition/bin/Release
/More Random Edition/Randomizer.csproj.user
